# .idea
/.idea/editor.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/copyright/profiles_settings.xml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.exp
*.ilk
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific stuff: (CLION)
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# My assets and third-parties
build
__build_dir__
__build_out__
__third_party__
__third_parties__

# end of file
